{{!-- {{my-select model=model navigate=(action 'navigate') test=(action 'test')}}

{{#if loading}}
    {{loading-mask loadingMessage=loadingMessage}}
{{/if}} --}}
{{!-- {{#if ourChanges}} --}}
    {{!-- {{{ourChanges.action}}}
    {{{ourChanges.cryptedStepCheck}}} --}}
    {{!-- <div class="container">
        {{#if myAction}}
        <form action={{myAction}} method="POST">
        {{#each ourChanges as |element|}}
            {{element}}
        {{/each}}
        </form>
        {{/if}}
    </div> --}}
{{!-- {{/if}} --}}

{{!-- {{#if showImagePicker}}
    {{image-picker model=model.property.gallery onClose=close onSave=(action 'onSave') addAnImage=(action 'addAnImage')}}
{{/if}} --}}


{{outlet}}