<div class="container p-b">
    <div class="row">

        <div class="col-xs-12">
            <div class="col-xs-6">
                <h2 class="block-title m-b-sm m-t-sm text-uppercase text-ellipsis">Select Images</h2>
            </div>
            <div class="col-xs-6">
                <div class="btn-groupx pull-rightx" style="margin-top: 22px; margin-bottom: 11px;">
                {{#each model as |image|}}
                    <div {{action addAnImage image.src this}} class='col-md-12 p-x-0'>{{image.title}}
                        <img src={{concat blobBaseUrl blobContainer image.src}} style="width: 97%; margin-bottom: 5px; margin-left: 5px;" class="thumbnail" />
                        <div class="text-center" style="font-size: 0.7em;">{{get-filename image.src}}</div>
                    </div>
                {{/each}}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="pull-right m-t-20">
                <button type="button" class="btn btn-primary-outline m-r" {{action 'onClose'}}>Cancel</button>
                <button type="submit" class="btn btn-primary-outline pull-right" {{action onSave}}>Save</button>
            </div>
        </div>

    </div>
</div>